body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  border: 3px solid #41393975;
  box-sizing: border-box;
  min-height: 100vh;
}

.note__editor {
  width: 100%;
  .CodeMirror {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
  }
}

.note__sidebar {
  width: 22%;
  background-color: #beebe9;
}

.note__title {
  padding: 0.8rem;
  cursor: pointer;
  border-bottom: fuchsia solid 2px;
  &:hover {
    background-color: rgba(255, 0, 255, 0.192);
  }
}

.note__navigation {
  padding: 0.8rem;
  background-color: gray;
}
